@import url("./styles/header.css");
@import url("./styles/banner.css");
@import url("./styles/carrossel.css");
@import url("./styles/topicos.css");
@import url("./styles/contato.css");
@import url("./styles/rodape.css");

:root{
    --cor-de-fundo:#ECE3CE;
    --branco: #ffffff;
    --laranja: #3A4D39;
    --azul-degrade: #739072;
    --fonte-principal: "Poppins";
    --azul: #4F6F52;
}
body{
    background-color: var(--cor-de-fundo);
    --fonte-principal: "Poppins";
}
