@import url("./styles/header.css");
@import url("./styles/banner.css");
@import url("./styles/carrossel.css");
@import url("./styles/topicos.css");
@import url("./styles/contato.css");
@import url("./styles/rodape.css");


:root{
    --cor-de-fundo:#E88D67;
    --branco: #ffffff;
    --laranja: #005C78;
    --azul-degrade: #006989;
    --fonte-principal: "Poppins";
    --azul: #005C78;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
}
body{
    background-color: var(--cor-de-fundo);
    --fonte-principal: "Poppins";
}
